@import url("nord.css");
.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 12%;
    --cl-text-color: 0,0%,85%;
    --cl-primary: 258,100%,77%;
    --cl-secondary: 258,100%,77%;
    --cl-accent: 258,100%,77%;
}
/* bujo inspired dotted lines 10 Apr 2023 */
.dark-theme #app-container {
    background-image: radial-gradient(#484f5d 8%, #303540 5%);
    background-position: 0 0;
    background-size: 25px 25px;
}

.light-theme, .white-theme, #app-container {
    background-image: radial-gradient(#08404f 5%, #181818 5%);
    background-position: 0 0;
    background-size: 25px 25px;
}
/* bujo end */

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-text-color: 0,0%,13%;
    --cl-primary: 258,100%,65%;
    --cl-secondary: 258,100%,65%;
    --cl-accent: 258,100%,65%;
}
/* added 21 Nov 2022 */
.block-content {
    text-align: justify;
}
