.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 12%;
    --cl-text-color: 0,0%,85%;
    --cl-primary: 258,100%,77%;
    --cl-secondary: 258,100%,77%;
    --cl-accent: 258,100%,77%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-text-color: 0,0%,13%;
    --cl-primary: 258,100%,65%;
    --cl-secondary: 258,100%,65%;
    --cl-accent: 258,100%,65%;
}
